[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
pandas = "*"
numpy = "==2.0"
scipy = "*"
plotly = "*"
optuna = "*"
shap = "*"
ipykernel = "*"
ipywidgets = "*"
nbformat = "*"

[dev-packages]

[requires]
python_version = "3.14"
