[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
optuna = "*"
scikit-learn = "*"
scipy = "*"
ipykernel = "*"
nbformat = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.14"
